head{
    font-family: Inter;
}

* {
    box-sizing: border-box;
}

body{
    background: #ECEFCA;
    background: linear-gradient(0deg, rgba(236, 239, 202, 1) 0%, rgba(148, 180, 193, 1) 50%, rgba(84, 119, 146, 1) 100%);
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(33, 52, 72, 0.8);
    padding: 16px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    overflow: visible;
    box-sizing: border-box;
}

.logo a{
    font-size: 30px;
    text-decoration: none;
}

.logo-img{
    width: 50;
    height: auto;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: flex-start;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 30px;
    transition: color 0.3s ease;
    white-space: nowrap;
    flex-shrink: 0;
}

.nav-links a:hover{
    color: #ECEFCA;
}

.awal{
    margin-top: 200px;
    font-family: Inter;
}

h1{
    font-weight: bold;
    font-size: 100px;
}

p{
    font-size: 35px;
}